datasets==3.0.1
IPy==1.1
jeepney==0.7.1
joblib==1.4.2
matplotlib==3.9.2
networkx==3.3
numpy==2.0.2
OTXv2==1.5.12
pandas==2.2.2
PyMySQL==1.1.1
referencing==0.35.1
scikit-learn==1.5.1
scipy==1.14.1
torch==2.4.0
torch-geometric==2.6.1
torchaudio==2.4.0
torchvision==0.19.0
torchvision4ad==0.1.2
tqdm==4.66.5
